.about-me-header {
    text-align: center;
}

.text-area {
    width: 650px;
    height: 220px;
    position: relative;
    left: 100px;
}

.linkedin, .github {
    margin-left: 0px;
}

.profile {
    width: 20%;
    height: 20%;
    position: relative;
    left: 900px;
    top: -340px;
}