.about-me-header {
    text-align: center;
}

.info-table {
    width: 100%;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
}

.text-area {
    width: 855px;
    height: 220px;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    left: 70px;
}

.linkedin, .github {
    margin-left: 0px;
}

.profile {
    width: 25%;
    height: 25%;
    position: relative;
    left: 1020px;
    top: -370px;
}

.divider {
    position: relative;
    width: 920px;
    left: 50px;
}