h1 {
    text-align: center;
}

.scrshot {
    width: 12%;
    height: 12%;
    margin: 15px;
}

.imageContainer > img:hover {
    width: 55%;
    height: 55%;
    position: absolute;
    left: -10px;
    top: 1px;
}