h1 {
    text-align: center;
}

.scrshot {
    width: 12%;
    height: 12%;
    margin: 15px;
}

.imageContainer > img:hover {
    width: 70%;
    height: 70%;
    position: absolute;
    left: 230px;
    top: 120px;
}