.App {
  text-align: center;
}

.header {
  position: absolute;
  width: 100%;
  top: 30px;
  background-color: turquoise;
  color: blue;
  text-align: center;
  text-transform: uppercase;
  font-size: large;
}

.bg {
  width: 100%;
}